* {
  box-sizing: border-box;
}

body{
  background-color:#ABEBC6;
}

.back{

  border-radius: 25px;
  background: white;
  padding: 20px;
  width: 80%;

}

.column {

  float: left;
  padding: 10px;
}

.center{
  width: 50%;
}

.left {
  width: 20%;
}

.right {
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftbutton{
  background-color: white; 
  border: 2px solid rgb(192, 240, 62);
  border-radius: 8px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  width: 100%;
}

.chosenButton{
  background-color: rgb(74, 170, 187); 
  border-radius: 8px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  width: 100%;
}

.delete{
  background-color: rgb(181, 46, 31); /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  height: 25px;
  width: 100px;
}

.delete span{
  position: relative;
  right: 10%;
  bottom: 5px;
}

.button {
  background-color: white; 
  border: 2px solid rgb(192, 240, 62);
  border-radius: 8px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  width: 30%;
}

.checkout{
  background-color: white; 
  border: 2px solid rgb(192, 240, 62);
  border-radius: 8px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

