<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/bill.css">
    <title>Bill</title>
</head>
<body>
    <div class="back">
        <div style="text-align: center;">
            {% for n in basket %}
            <h2>{{n.name}}: {{n.price}} ₴</h2>
            <h3>Кількість: {{n.howMany}}</h3>
        {% endfor %}
        <br>
        </div>

        <h2>{% for e in master %}
                {{e}},  
        {% endfor %}
        </h2>
        <h1>До сплати: {{total}} ₴</h1>
        <div style="text-align: center;">
            <div class="row">
                <div class="column">
                    <form action="/">
                        <input class="buttonFalse" type="submit" value="Назад">
                    </form>
                </div>
                <div class="column">
                    <form action="/bill" method="POST">
                        <input class="buttonTrue" type="submit" value="Відправити">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>