<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bill</title>
</head>
<body>
    <div>
        {% for n in basket %}
                <h2>{{n.name}}: {{n.price}}</h2>
                <h3>Кількість: {{n.howMany}}</h3>
        {% endfor %}
        <br>
        <h1>До сплати: {{total}} грн</h1>

        <form action="/checkout">
            <input type="submit" value="Відправити">
        </form>
    </div>
</body>
</html>