<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for i in items %}
    <div>
        <a href="/addItemToBasket/{{i.name}}/{{i.price}}/{{i.category}}"><input type="button" value="{{i.name}}" name="{{i.name}}" id="{{i.name}}"></a>
    </div>
    {% endfor %}
    <br>
    <label><h1>Basket</h1></label>
    {% for b in basket %}
            <div>
                <label>{{b.name}} - {{b.price}} {{b.howMany}}</label>
                <a href="/deleteitemfrombasket/{{b.name}}/{{b.price}}/{{b.category}}"><input type="button" value="Delete"></a>
                
            </div>
    {% endfor %}
    <br>
    <form action="/bill">
        <div>
            <h2>Total = {{total}}</h2>
        </div>

        {% if not empty %}
            <input type="submit" value="checkout" name="checkout">  
        {% endif %}
        
    </form>
    
</body>
</html>