<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/master.css">
</head>
<body>
    <div class="back">
        <h1>Оберіть майстра</h1>

        <div>
            <form action="/master" method="POST">
                {% for e in category %}
                <br>
                        <h2>{{e}}</h2>
                        <select name="{{e}}" id="{{e}}" required>
                            {% for l in masters %}
                                <option value="{{l}}">{{l}}</option>
                            {% endfor %}
                          </select>
                {% endfor %}
                
                  <br>
                  <input type="submit" class="button" value="submit">
            </form>
        </div>
        <br>
    </div>

    
</body>
</html>